services:
  homassy.api:
    environment:
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - Jwt__SecretKey=${JWT_SECRET_KEY}
      - Jwt__Issuer=Homassy.API
      - Jwt__Audience=Homassy.Client
      - Jwt__AccessTokenExpirationMinutes=15
      - Jwt__RefreshTokenExpirationDays=7
      - Cors__AllowedOrigins__0=http://localhost:3000
      - Logging__LogLevel__Default=Information
      - Logging__LogLevel__Microsoft.AspNetCore=Warning

  homassy.web:
    environment:
      - NUXT_PUBLIC_API_BASE=http://localhost:5226
